@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	color: #444;
}
.body-not-scroll {
	overflow-y: hidden !important;
}
body {
	width: 100%;
	overflow-x: hidden;
}
@keyframes animateDown {
	0%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(5px);
	}
	60% {
		transform: translateY(3px);
	}
}

a {
	text-decoration: none;
}
